@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #001f3f;

  color: #fff;
}

::selection {
  background-color: #5b6e8f;
}

#cover {
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.currentIconPage svg {
  stroke: #e5e5e5;
  fill: #e5e5e5;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #ffd700;
}
