@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(90deg, rgba(47, 47, 47, 1) 0%, rgba(5, 5, 5, 1) 65%, rgba(47, 47, 47, 1) 100%);
  color: #fff;
}

::selection {
  background-color: #2c3e50;
}

#cover {
  background: linear-gradient(90deg, rgba(47, 47, 47, 1) 0%, rgba(5, 5, 5, 1) 65%, rgba(47, 47, 47, 1) 100%);
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.currentIconPage svg {
  stroke: #1f1934;
  fill: #1f1934;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #f5741c;
}
